.content {
    height: 400px;
    background-color: #ef31df;
    position: relative;
}

.p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 40px;
}